.container {
    width:100%;
    height:200px;
    color:black;
    background-color: rgb(246, 244, 241);
    margin-top:50px;
    padding:24px;
}

.container input {
    width:300px;
    height:42px;
    border-radius: 5px;
    padding-left:12px;
    border:1px solid transparent;
    font-size:18px;
}

.container button {
    height:42px;
    margin-left:12px;
    border-radius:5px;
    color:white;
    background-color:dodgerblue;
    padding:6px;
    border:1px solid transparent;
}

h4 {
    margin-bottom:12px;
    font-weight: bold;
}

.error {
    color:tomato;
    margin-top:12px;
    padding-left:6px;
}

.message {
    margin-top:12px;
    padding-left:6px;
}


